.mypcip,#memuAcontrol,#task,#memuA,#memuAsite,#memuAftp,#memuAdatabase,#memuAfirewall,#memuAxterm,#memuAcrontab,#memuAsoft,#memuAconfig,.btn.btn-default.btn-sm.pull-left{display:none!important;}
.table .btlink:nth-last-of-type(-n+2),.resetpw,.entrance,.footer.bgw,#contextify-menu{display:none!important;}
body{display:none;}
