/*-----------ä¼˜æƒ ----------*/
.discount{width: 100%;}
.dc-play{width: 1180px;margin: auto;box-sizing: border-box;padding: 28px 0 10px }
.dc-list1{
	transition: margin-left 0.5s;
	-moz-transition: margin-left 0.5s;	/* Firefox 4 */
	-webkit-transition: margin-left 0.5s;	/* Safari å’Œ Chrome */
	-o-transition: margin-left 0.5s;	/* Opera */
	margin-left:0px;
	width: 1180px;min-height: 157px;border: 1px solid #ddd;box-sizing: border-box;padding: 15px;margin-bottom: 16px;overflow: hidden;}
.dc-img{display: block;width: 800px;height: 130px;background: #f0e35b}
.dc-img img{display: block;width: 100%;height: 100%;}
.dc-ul{margin-left: 43px;}
.dc-ul h2{font-size: 20px;color: #e4393c}
.dc-ul ul{list-style: disc;margin-top: 20px}
.dc-ul li{font-size: 14px;margin-bottom: 8px}
.info{overflow:hidden; width: 100%;height:0;margin-top: 20px;    display: inline-block;}
.info p{width: 100%;}
.info p img{max-width: 100%;}
.slide{text-align: right;}
.slide span{ text-decoration: underline; color:#e4393c; cursor: pointer;}
.slide span:hover{color:#e4393c;}
/*----------------èµ„è®¯-------------*/
.infm{width: 100%;}
.infm-play{width: 1180px;margin: auto;padding: 10px 0 0}
.infm-tt{height: 45px;background:#fffcf4;box-sizing: border-box;border: 1px solid #e6e5e3;font-size: 18px;color: #e4393c;line-height: 40px;padding:0 10px }
.infm-list{width: 100%}
.infm-list1{padding: 20px 10px;border-bottom: 1px solid #e6e5e3;width: 100%}
.infm-list1 a{float: left;font-size: 14px;color: #404040;display: block}
.infm-list1 a:hover{color: red}
.infm-list1 div{font-size: 14px;color: #757575;}
.infm-bar{margin:30px auto 0;}
.infm-bar .on{background: #e4393c;color: #fff}
.infm-barl{margin-left: 3px;border-radius: 3px;cursor: pointer;text-align: center;line-height: 30px;width: 65px;height: 32px;border: 1px solid #e6e5e3}
.infm-barL{margin-left: 3px;border-radius: 3px;cursor: pointer;text-align: center;line-height: 30px;width: 84px;height: 32px;border: 1px solid #e6e5e3}
.infm-barL:hover,.infm-barl:hover{background: #e4393c;color: #fff}
.infm-bar1{margin-left: 3px;border-radius: 3px;cursor: pointer;text-align: center;line-height: 30px;width: 50px;height: 32px;border: 1px solid #e6e5e3}
.infm-bar em,.infm-bar a{padding: 3px 10px;margin: 0 3px;font-size: 14px;cursor: pointer;color: #333;display: inline-block;}
.infm-bar span{padding: 3px 10px;margin: 0 3px;font-size: 16px;cursor: pointer;color:red;display: inline-block;}
.infm-bar label{color: #999}
.infm-bar em:hover{color: red}
.infm-bar a:hover{color: red}
/*-----------------é¦–é¡µæ ·å¼---------------*/
.all-bg{width: 100%;margin: auto;}
.header-logo .logo-play{padding: 0}
.all-bg .header-bar{background: transparent;}
.bar-play {background: #e4393c;}
.bar-play .select-text{box-sizing: border-box;text-indent: 1em}
.header-bar .bar-a{margin-left: 0}
.id{width: 100%;}
/*--------è½®æ’­--------*/
.id-play{width: 1000px;margin: auto}
.lb-pd{width: 100%;box-sizing: border-box;padding: 0 0 0 250px; background: #fff;}
.id-lb{position: relative;width: 490px;height: 193px;box-sizing: border-box;padding: 0 0 0 0;background: #fff;overflow: hidden}
.lb-img{position: absolute;width: 9000px;left:0}
.lb-img img{float: left;width: 490px;height: 193px;}
.lb-tt{position: absolute;left: 320px;top: 180px;}
.lb-tt li{width: 12px;height: 12px;border-radius: 8px;background: #b1b1b1;float: left;margin-right: 10px}
.lb-tt .on{background: #fff;}
.id-banner{width:490px;height:205px;background: #fff}
.id-banner-tt{width: 100%;border-bottom:1px solid #ddd }
.id-banner{padding: 0 5px;}
.banner-list{cursor: pointer;font-size: 16px;width:96px; height: 35px;line-height: 35px;text-align: center}
.id-banner-tt .on{border-bottom: 2px solid #e4393c}
.id-banner-text{width: 100%}
.banner-time{padding: 5px;}
.banner-timer{color: #333;font-size: 14px}
.banner-timer span{color: red;font-size: 14px}
.banner-timer .on{color: #333;font-size: 14px}
.banner-time .fr a,.banner-time .fr span{color:red;font-size: 14px;font-weight: bold;}
.banner-num{padding: 30px 30px;}
.banner-num li{font-size: 20px;float: left;margin-right: 20px;width: 50px;height: 50px;border-radius: 25px;background: #e4393c;color: #fff !important;line-height: 50px;text-align: center}
.banner-toal{}
.id-banner-re{cursor: pointer;color:#333 ;width: 20px;line-height: 17px;height: 24px;border:1px solid #333;text-align: center;font-size: 30px; border-right:none; }
.id-banner-re:hover{background: #ddd}
.id-banner-input input{text-align: center;font-size: 16px;color: #333;cursor: pointer;width: 50px;height: 24px; border: 1px solid #333}
.id-banner-add{margin-right: 10px;cursor: pointer;color:#333;width: 20px;line-height: 17px;height: 24px;border:1px solid #333;text-align: center;font-size: 24px; border-left:none;}
.id-banner-add:hover{background: #ddd}
.banner-ta{color: #333;font-size: 16px}
.toal-much{color: red}
.update{width: 20px;height: 24px;margin-right: 10px;cursor: pointer}
.update img{width: 20px;height: 24px;}
.now-join{cursor: pointer;margin-top: -8px;padding:8px 14px;margin-right: 5px;border-radius: 4px;color: #fff;background: #e4393c;text-align: center;line-height: 20px; font-size:16px;}



/*---------login--------*/
.id-login{box-sizing: border-box;width: 260px;height: 450px;background: #fff}
.all-login{width: 258px;background: #f6f6f6;height: 450px;}
.id-login-rer{width: 100%}
.id-login-re{float: right;margin-bottom: 15px;padding:  10px 15px 0;}
.id-login-re a{margin-left: 8px;color: #2568a7}
.id-login-inp{width: 100%;text-align: center;padding: 0px 15px;}
.id-login-inp input{width: 100%;background: #fff;height: 35px;box-sizing: border-box;border: 1px solid #e6e6e6;margin-bottom: 10px;border-radius: 5px;padding: 0 10px; float: left;}
.ssc-yzm{width: 80px !important;}
.login-yzmimg{cursor: pointer;float:right;width:75px;height:30px;line-height:30px;}
.login-yzmimg01{cursor: pointer;float:right;width:75px;height:30px;line-height:28px;text-align:center;margin-right:6px;}
.id-login-inp button{font-weight: bold;border-radius: 3px;margin-top: 10px;cursor:pointer;width: 110px;height:35px;color:#fff;text-align:center;border-style: none; }
.bgcolorlogin-01{ background: #f88912;}
.bgcolorlogin-01:hover{background: #e26e07;}
.bgcolorlogin-02{ background:#f13833;}
.bgcolorlogin-02:hover{background:#fa3a41;}
.id-login-ts{width: 100%;margin-top: 25px;height: 31px;}
.id-login-ts div{cursor: pointer;width: 110px;padding: 0 0 10px 0;text-align: center;font-size: 13px;}
.id-login-ts .on{border-bottom: 2px solid #e4393c;}
.tst1{width: 100%;padding: 10px 0;font-size: 12px;padding: 0 15px;line-height: 1.5em;}
.tst1 strong{ margin:0 3px; }
.tst1 li{ height: 42px;}
.tst1 a{display: block;font-size: 12px;margin-bottom: 10px;padding: 0 15px;}
.tst1 a:hover{color: red}
.tst1 em{color: #e4393c;}
#FontScroll{height:100%;overflow:hidden;padding:0px 13px;margin:0 auto; line-height: 18px;}
#FontScroll .line{text-align:left;width:100%;}
#FontScroll .line .lineboxs-bor{border-bottom: 2px solid #fff}
/*---------å¼€å¥–---------*/
.id-lottery{width: 100%;margin-top: 10px}
.id-lt{width: 247px;}
.id-lt1{width: 100%}
.id-lt-gg{color: black;width: 100%;height: 36px;background: #f5f5f5;font-size: 14px;line-height: 35px}
.id-lt-ss{padding:13px 10px;background: #fff;width: 100%;border: 1px solid #f1f1f1; border-top:none;height: 72px;}
.id-lt-ss a{margin-left:5px;padding:4px 8px; color:#fff;font-size: 12px;background: #e4393c;border-radius: 4px;}
.id-lt-ss a:hover{background:#ce1515;}
.id-lt-ss .ss-h{font-size: 14px;color: black}
.id-lt-ss span{font-size: 12px;color: #999999 }
.id-lt-ss .ss-m{margin-right:0;float: right}
.gg-ball {width: 100%;padding:0;display: inline-block;}
.gg-ball span{font-size: 13px;font-weight: bold;color: red;margin-right: 5px;line-height: 1.8em;}
.gg-ball .blue{color: #2568a7}
.gg-ball a{float: right}
.gg-ttm{margin-top: 15px;color: black}
.gg-ttm span{margin-right: 0;color: red}
.gg-ttda{width: 100%}
.gg-ttd{}
.id-cpg{width: 258px;background: #fff;border: 1px solid #f5f5f5}
.cpg-t{padding: 8px 15px;width: 100%;background: #f5f5f5}
.cpg-t a:hover{color: red;}
.cpg-t .cpg-tt{font-size: 14px;color: black}
.cp-xw {
    width: 100%;
    padding: 8px;
    height: 392px;
    overflow: auto;
}
.cp-xwtt{text-align: center;height: 67px;}
.cp-xwtt h1{font-size: 22px;color: red;font-weight: bold;margin-bottom: 5px}
.cp-xwtt h1 a{font-size: 22px;color: red;font-weight: bold;}
.cp-xwtt a{font-size: 14px;color: #333;margin-top: 20px}
.cp-xwlist{width: 100%;}
.cp-xwlist .cpzx{width:48%;}
.cp-xwlist p{font-size: 14px;margin-bottom: 10px;color: #676767;line-height: 21px;
    height: 21px;}
.cp-xwlist a{width:100%;font-size: 14px;margin-bottom: 20px;color: #676767;line-height: 21px;
    height: 21px;display: inline-block; text-overflow: ellipsis; white-space: nowrap;  overflow: hidden;}
.cp-xwlist p span{margin: 0 5px}
.cp-xwlist a:hover{color: red}
/*------mainå¼€å¥–/èµ°åŠ¿tab------*/
.id-lt-gg ul li{float: left;cursor: pointer;width: 50%;text-align: center;border-top: none !important;
    border-right: none !important;
    border-left: none !important;}
/*.id-lt-gg ul li:hover{color:#f54444;}*/
.tab_css_gg{display: none;}
.tab_css_gg ul{width: 100%;}
.tab_css_gg ul li{-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: #fff none repeat scroll 0 0;
border-color: currentcolor #f1f1f1 #f1f1f1;
border-image: none;
border-style: none solid solid;
border-width: medium 1px 1px;
padding: 15px 15px;
text-align: right;
width: 100%;}
.tab_css_gg ul li .zs-boxs{width: 100%;display: inline-block; height: 32px;}
.tab_css_gg ul li .zs-boxs img{height: 100%;float: left;}
.tab_css_gg ul li .zs-boxs span{line-height: 30px;font-size: 14px; color: #333;margin-left: 10px;float: left;}
.tab_css_gg ul li a:hover {
    background: #ce1515 none repeat scroll 0 0;
}
.tab_css_gg ul li a {
    background: #e4393c none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
	margin-top: 5px;
    display: inline-block;
    padding: 4px 8px;
}
/*-----------ç›¸å…³----------*/
.id-foot{width: 100%;background: #f3f3f3;margin-top: 3px}
.id-foot a:hover{color: #333;}
.idf-play{width: 1000px;margin: auto;padding: 30px 0 0}
.idf-list1{width: 25%;border-right:1px solid #ccc;height: 145px; text-align: center;font-size: 12px;}
.idf-play .mar-r{margin:0px;}
.idf-list1 h1{font-size: 18px;margin-bottom: 15px}
.idf-list1 a{color: #727272;font-size: 12px;}
.idf-list1 p{margin-bottom: 10px}
.idf-list1p a{margin-right: 0px;color: red ; font-size:14px;}
.idf-lj{width: 550px;margin: auto;padding: 25px 0}
.idf-lj-list1{margin-right: 25px}
.idf-lj .last{margin-right: 0}
.idf-lj-list1t{margin-left: 10px;line-height: 39px;font-size: 16px}
.onlink-text-cor{color: #333 !important;position: relative;}
.onlink-text-cor .weixinimg2wm{position: absolute;bottom:20px; left: 0;width: 140px;height:0px;display:block;overflow: hidden;
transition: height 0.5s;
-moz-transition: height 0.5s;  /* Firefox 4 */
-webkit-transition: height 0.5s;   /* Safari å’Œ Chrome */
-o-transition: height 0.5s;    /* Opera */}
.onlink-text-cor:hover .weixinimg2wm{height:195px;}
.weixinimg2wm-01{display: inline-block;width: 20px;height: 20px;}
/*----------æ³¨å†Œ----------------*/
.reg{width: 100%}
.reg-play{width: 1180px;margin:0 auto 150px}
.reg-tt{width: 100%;background: #fffcf4;padding: 10px 20px;border:1px solid #c8c8c8;margin-top: 10px}
.reg-user{font-size: 20px;color: #f13131;}
.account{font-size: 14px;margin-top: 4px}
.account a{color:#f13131 }
.reg-inp{width: 100%;border: 1px solid #c8c8c8;border-top: 0 none;padding: 60px 150px}
.reg-inp-list1{margin-bottom: 20px}
.reg-inp-list1l{line-height: 40px;width: 100px;text-align: right;font-size: 14px;margin-right: 5px}
.reg-inp-list1l  span{color: #e4393c}
.reg-inp-list1 input{width: 260px;height: 40px;border: 1px solid #c8c8c8;margin-right: 10px;padding: 0 10px}
/*.reg-inp-list1 span{font-size: 14px}*/
.reg-check{font-size: 12px;width: 400px;margin: 0 0 0 100px}
.reg-check input{width: 20px;height: 20px;}
.reg-check .span{margin-top: 5px}
.reg-check a{color: red;}
.btn{width: 200px;margin: 20px 0 0 105px;}
.btn input{width:200px;height: 50px;background: #e4393c;border-radius: 10px;color: #fff;font-size: 16px;cursor: pointer }
.btn input:hover{background: #ff3c44}

#Validform_msg{
    display: none;
}
.reg-inp-list1 input.Validform_error{
    border: 1px solid #d81e06;
}

.Validform_right{
    display: inline-block;
    background: url(.././images/right-f.png) no-repeat;
    font-size: 0;
    width: 16px;
    vertical-align: middle;
    height: 16px;
}

.Validform_wrong{
    position: relative;
    display:inline-block;
    padding: 0 0 0 20px;
    color:#d81e06;
}
.Validform_wrong:after {
    content:"";
    display: inline-block;
    height: 16px;
    width: 16px;
    position: absolute;
    background: url(.././images/error-f.png) no-repeat;
    left: 0;
    top: 0;
    vertical-align: middle;
}
/*----------å¸®åŠ©ä¸­å¿ƒ--------*/
.hc{width: 100%}
.hc-play{width: 1180px;margin:20px auto;background: #fafafa}
.hc-fl{width: 220px;border:1px solid #dddddd;height: 726px;border-right: 0 none }
.hc-hc{background: #fffcf4;line-height: 44px;font-size: 20px;color: #e4393c;width:100%;height: 44px;border-bottom: 1px solid #ddd ;}
.hc-hc img{vertical-align: middle;margin:0 10px 0 30px}
.hc-fl ul li{cursor: pointer;width: 100%;height: 44px;padding: 0 0 0 56px;font-size: 16px;line-height: 44px;border-bottom: 1px solid #ddd }
.hc-fl ul li:hover{background: #f13131;color: #fff}
.hc-fl .on{background: #f13131;color: #fff}
.hc-fr{width:960px;height: 726px;border: 1px solid #ddd;overflow: auto;}
.hc-detail{width: 100%;height: 100%;}
.hc-tt{font-size: 16px;box-sizing: border-box;color: #e4393c;padding: 0 20px;line-height: 44px;background: #fffcf4;width: 100%;height: 44px;border-bottom: 1px solid #ddd}
.hc-fr-tx{padding: 0 70px;overflow: auto;height: calc(100% - 44px)}
.hc-fr-tx h2{font-size: 16px;color: #404040;margin:50px 0 5px}
.hc-fr-tx p{margin-left: 32px;font-size: 14px;margin-bottom: 15px;color: #656565}
.hc-fr-tx .h2-1{margin-top: 20px}
/*------------èµ°åŠ¿å›¾---------*/
.tc-play{width: 1180px;margin:0 auto 110px}
.ls-text{width: 100%;height: 40px;font-size: 15px;box-sizing: border-box;border-bottom: 1px solid #ccc}
.ls-text div{cursor: pointer;padding: 15px 12px;color: #909193;box-sizing: border-box;margin-right: 30px}
.ls-text .on{border-bottom: 3px solid #f28938}
.tc-list{width: 100%;padding: 10px 10px;}
.tc-list a{display: block;float: left;width: 80px;margin-bottom: 15px;color: #747474;font-size: 14px;}
.tc-list a:hover{color: red}
.tc-list-one{width: 100%;border: 1px solid #ddd;margin-bottom: 10px}
.list-one-t{width: 100%;border-bottom: 1px solid #ddd;height: 30px;line-height: 30px;padding: 0 40px;font-size: 16px;color: #747474 }
.list-one-img {width: 80px;padding: 20px 42px;margin-right: 82px}
.tc-img-list1 {width: 80px;text-align: center;color: #676767}
.tc-img-list1 img{width: 80px;height: 80px;}
.tc-img-list1 span{font-size: 12px;}
.tc-img-list1 .dsb1{display: block;height:30px;width: 70px;margin:10px auto 0;background: #e4393c;color: #fff;line-height: 30px;text-align: center;border-radius: 3px;font-size: 12px; }
.tc-img-list1 .dsb1:hover{background: #ff4b4e}
.bgno999{background: #999 none repeat scroll 0 0 !important;
    cursor: not-allowed;
    height: 30px;}
/*------------------èµ„è®¯è¯¦æƒ…----------------*/
.it{width: 100%;}
.it-play{width: 1180px;margin:20px auto 0; }
.it-tt{width: 100%;padding:35px 0 10px;text-align: center;font-size: 22px;color: #676767 }
.it-ly{width: 100%;padding: 0 20px 10px;color: #bdbdbd;border-bottom: 1px dashed #bdbdbd;font-size: 14px}
.it-ttp{width: 100%;padding: 10px 0;}
.it-ttp .it-ttpbg{padding: 10px 20px;background: #fffcf4;line-height: 30px;font-size: 14px;margin-bottom: 20px}
.it-ttp p{text-indent: 2em;line-height: 30px;margin-bottom: 30px;font-size: 14px}
.it-ttpl{width: 100%;padding: 0 20px}

/*------------ç”¨æˆ·ç™»å½•ä¿¡æ¯---------*/
.UserPopLayer{width:230px; height:auto;top:22px; left:20px; z-index:9999;padding-bottom:10px;border-radius: 6px;background-color:#e4e4e4; background-color: rgba(228,228,228,.9);box-shadow:0 0 5px rgba(0,0,0,.5); position: absolute;}
.UserPopLayer .UserInfoBox{ position:relative; z-index:9;}
.UserPopLayer .UserInfoBox ul{ width:90%; margin:10px auto}
.UserPopLayer .UserInfoBox ul .user_Label{ color:#666;}
.UserPopLayer .UserInfoBox ul .user_info{ color:#ef984b;}
.hide {display: none;}
.user-boxs01{ width: 100%;text-align: center; display: inline-block;margin-top: 20px;}
.user-boxs01 a{text-align: center;padding: 6px 30px; margin: 0 5px; border-radius: 4px; background-color: #e4393c; line-height: 1.5em;color: #fff;width: 100px;
    display: inline-block;}
.user-boxs01 a:hover{ background-color: #f34649;}
.user-boxs02{position: relative;margin-bottom: 20px;}
.user-boxs02 em span{    color: #e4393c;
    width: 71px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;}
.user-boxs02 a{cursor: pointer; float: right;position: relative;}
.download_sec{    width: 258px;
    height: 37px;
    margin-top: 55px;
    line-height: 37px;
    box-sizing: border-box;}
.download_icn{position: relative;
    width: 258px;
    height: 210px;
    background: #F6F6F6;}
/*å®‰å…¨é€€å‡º*/
.main_tcdl{float: right;width: 4em;color: #999;}
.mian_out{position: relative;width: 100%;height: 100%;display: block;}
.mian_out a.mian_colosbtn{position: absolute;top:215px; left:417px ;display: block;cursor: pointer;}
.mian_out a.mian_outbtn{position: absolute;top:215px; left: 235px;display: block;cursor: pointer;}
.mian_out a:hover{top: 213px;}
.layui-layer-molv{box-shadow:none !important;}
.layui-layer-molv .layui-layer-content{background:none !important; }
.main_glzx{color:#36a3db;margin-right: 18px;}
.user-NUM{ font-size: 16px;color:#f34649; padding: 0 3px;}
.user-boxs02 em:hover,.user-boxs02 a:hover{ color:#f34649;}
.topLinkBtn{}
.displaynblon{ margin-left: 5px;cursor: pointer; }
.displaynblon:hover{ color:#f34649;}
.displayInbok{ display: inline-block;width: 100%;position: relative;margin-bottom: 10px;margin-top: 10px;}
.displayInbok i{cursor: pointer;}
.displayInbok i:hover{color:#36a3db;  }
.displayInbok a{border: 1px dashed #ccc;cursor: pointer; color: #36a3db;padding: 3px;}
.displayInbok a:hover{color:#f34649; border: 1px dashed #f34649;}
.user-boxs02 a .em-num{position: absolute;background-color: red; border-radius: 50%;overflow: hidden;width: 16px;height: 16px;line-height: 16px;text-align: center;color: #fff;font-size:12px;display: block;    top: -7px;
    right: -13px;z-index:1;}
/*------------å…¬å‘Šå¼¹æ¡†å³è¾¹---------*/
.newsbg {border: 6px solid rgba(0, 0, 0, 0.3) !important;}
.newsbg .layui-layer-content{background-color: #fff;}
.newsbg .layui-layer-title{letter-spacing: 15px; background-color: #b41e1e !important;background: #e4393c !important;color: #fff;font-size: 18px;font-weight: bold;text-align: center;}
.layer_containerMore{ display:none;height: 100%;}
.MoreNewsCont {width: 490px;background: #fff;height: 100%;overflow: auto;border-left: 1px solid #ccc;float: right;}
/*------------å…¬å‘Šå¼¹æ¡†å·¦è¾¹---------*/
.MainListUl_More {color: #333;font-size: 12px;/*padding: 10px 0px 10px 10px;*/width: 348px;}
.MainListUl_More ul { width:100%;}
.MainListUl_More ul li { height:30px; line-height:30px;  width:100%; border-bottom:1px solid #ccc;}
.MainListUl_More ul li:hover {  height:30px; line-height:30px;  width:100%; background:#fff; border-bottom:1px solid #ccc; border-right:none;}
.MainListUl_More ul li .listpart { float:left; padding-left:20px; background:url(../../images/index/listtip_02.png) no-repeat 5px 12px;  overflow:hidden;}
.MainListUl_More ul li .listpart a { color: #333;display: block;float: left; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 19em;}
.MainListUl_More ul li .listpart img { float:left; margin-top:9px; padding-left:8px; }
.MainListUl_More ul li .listpart a:hover { color:#f60; }
.MainListUl_More ul li .time { float:right; color:#999; padding-right:5px; }
.MainListUl_More ul li .listpart strong{ font-weight:100; padding:0 1px; color:#333; cursor:pointer;}
.MainListUl_More ul li .listpart strong:hover{color:#f60; padding:0 2px; text-decoration:underline;}
.layer_container{ display:none;}
.popNewsLayer{ line-height:25px; color:#333; padding:20px; height:100%; overflow:hidden; overflow-y:auto; font-size:14px;background:url(../../images/index/newPopLayerBg.png) repeat-y;}
.popNewsLayer h2{ color: #f4354a;font-size:22px; text-align:center; margin:0 auto 20px auto; border-bottom:1px dotted #ccc; padding-bottom:20px; }
.popNewsLayer p{text-justify:inter-ideograph;text-align:justify;color: #5c5c5c;letter-spacing: 0;text-indent: 2em;}
.popNewsLayer .tabnew1113 { width:100%; margin:10px auto;}
.popNewsLayer .tabnew1113 th{ border:1px solid #ccc; background:#f0f0f0;}
.popNewsLayer .tabnew1113 td{ border:1px solid #ccc;}
/*-------------lobbyå½©ç§é€‰æ‹©---------*/
.ls{width: 100%;}
.ls-play{width: 1180px;margin: auto;overflow: hidden}
.ls-text{width: 100%;height: 40px;font-size: 15px;box-sizing: border-box;border-bottom: 1px solid #ccc}
.ls-text div{margin-right: 30px;cursor: pointer;padding: 15px 12px;color: #909193;box-sizing: border-box}
.ls-text .on{border-bottom: 3px solid #f28938}
.ls-logo{width:100%;margin:25px auto 0 auto;}
.ls-list1{margin:0 5px 9px 5px ;border: 2px solid #d1d1d1;width:282px;}
.ls-textr{width: 118px;text-align: center}
.ls-textr span{font-size: 19px;color: black;font-weight: bold}
.ls-textr a{display: block;height: 27px;background: #d6d6d6;line-height: 27px;border-radius: 14px;font-size: 14px;margin: 15px 0 0 0}
.ls-textr a:hover{background: #c3c3c3}
.ls-textr .on{background: #f34649;color: white;margin: 10px 0 0; }
.ls-textr .on:hover{color:#e4393c;background: #e24144; color:#fff;}
.ls-textr .on img{margin-top: 5px;}
.bgnone{background: #c9c9c9 !important; cursor: not-allowed;}
.bgnone img{vertical-align: middle;}
.bgnone:hover{background: #c9c9c9 !important;}
.s{}
.lottery_top{margin:7px;height:95px;}
.lottery_name{overflow:hidden;}
.lottery_name .red{color:#c5352f;height: 30px;line-height: 30px;font-size: 14px;}
.lottery_pic_box{width:82px;height:84px;float:left;}
.lottery_pic_box img{width:100%;height:auto;}
.lott_right_main{float: left;margin-left:10px;}
.lott_right_main h3{font-size:18px;font-weight:normal;}
.play-timer{background: #e1e1e1;color: #666;    border-radius: 3px;font-size: 16px;padding: 0 5px;height: 25px;line-height: 25px;display: inline-block;}
.lott-date{float: left;margin-left:10px;width: 200px;text-align: center;}
.lottery_middle{height:30px;}
.lottery_middle .fl{line-height: 25px;margin-left:5px;}
.lott-date .banner-num{display: inline-block;padding:0;text-align:center;}
.lott-date .banner-num .klpk{
    display: inline-block;
    width: 35px!important;
    height: 18px!important;
    margin-right: 2px!important;
    font-size: 13px;
    background: none;
    color:#333!important;
}
.lott-date .banner-num .klpk i{
    display: inline-block;
    width: 18px!important;
    height:18px!important;
    background: url(../images/light_blue/poker_ico_15c81a0.png) no-repeat;
    font-size:23px;
}
.lott-date .banner-num .klpk i.fk{background-position: -173px -20px}
.lott-date .banner-num .klpk i.rt{background-position: -173px -2px}
.lott-date .banner-num .klpk i.mh{background-position: -155px -21px}
.lott-date .banner-num .klpk i.bt{background-position: -155px -2px}
.lott-date li{width: 18px;height: 18px;line-height: 18px!important;margin-right: 2px!important;font-size: 13px;background: #ff2929;}
.date_box li{border-radius: 50%;float: left;width: 19px;height: 19px; text-align: center;line-height: 19px;margin: 0 1px!important;color:#fff;}
.lottery_botm{height:40px;}
.lottery_botm .mr{margin-right:24px;margin-left: 5px;}
.lottery_botm a{width: 122px;float: left;display: block;line-height: 40px;text-align: center;font-size: 14px;margin-right:5px;}
.a_active{width: 117px;float: left;display: block;line-height: 40px;text-align: center;margin: 0 1px 1px 0;font-size: 14px;cursor: pointer;background: #d32036;color: #fff;}
.no-active{width: 117px;float: left;display: block;line-height: 40px;text-align: center;margin: 0 1px 1px 0;font-size: 14px;cursor: pointer;background: #c9c9c9;}
.cur-not {cursor: not-allowed;}
/*MW ç”µå­æ¸¸æˆ*/
.mw_egame_pic_box { width: 209px; height: 176px; text-align: center; }
.mw_egame_mame { overflow:hidden; width: 209px; height: 176px; }
.mw_egame_top { margin:7px; text-align: center; }
.mw_egame_mame_start{width: 117px;float: left;display: block;line-height: 40px;text-align: center;margin: 0 1px 1px 0;font-size: 14px;cursor: pointer;background: #d32036;color: #fff;}
/*footå›¾ç‰‡ æ‰€æœ‰é¡µé¢*/
.sprite-foot { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('../../images/index/foot.png'); }
.foot-index-foot_01 { width: 40px; height: 39px; background-position: -128px -2px; }
.foot-index-foot_03 { width: 40px; height: 39px; background-position: -86px -2px; }
.foot-index-foot_05 { width: 40px; height: 39px; background-position: -44px -2px; }
.foot-index-foot_07 { width: 40px; height: 39px; background-position: -2px -2px; }
.foot-pliceman { width: 34px; height: 34px; background-position: -333px -2px; }
.foot-wangan { width: 27px; height: 36px; background-position: -304px -2px; }
.foot-wangjiao { width: 30px; height: 37px; background-position: -272px -2px; }
.foot-wangshen { width: 100px; height: 37px; background-position: -170px -2px; }
.foot-wangxin { width: 30px; height: 30px; background-position: -369px -2px; }
/*footå›¾ç‰‡ç»“æŸ*/

/*éšè—åŽ˜æ¨¡å¼*/
.moneyMode #li{display: none;}

/* èµ°åŠ¿å›¾è¡¨ */
.indezoushi {
    width: 485px;
    height: 429px;
    margin: 0px 5px;
    border: 1px solid #EDEDED;
    float: left;
}
.indezoushi .chart_title {
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid red;
    font-size: 17px;
    color: #333;
    padding: 0px 10px;
}
.indezoushi .chart_zs {
    margin: 23px 5px 23px 8px;
    float: left;
}
.indezoushi ul {
    float: left;
    margin-top: 10px;
}
.indezoushi ul li {
    float: left;
    width: 84px;
    margin: 10px 5px;
}
.indezoushi ul li a {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.indezoushi ul li a img {
    width: 80%;
}


/*æ´»åŠ¨é¡µé¢*/
.dc-list1{
    padding:20px 15px 0 15px;
}

.dc-img{
    width:1150px;
    height: 150px;
}

/*è½®æ’­å®½åº¦*/
.id-lb{
    width:750px;
}
.lb-img img{
    width: 750px;
}